{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% include 'includes/public_navbar.html' %}

<div class="login-wrapper">

    <div class="login-card">

        <h2 class="login-title">Welcome Back</h2>
        <p class="login-subtitle">Login using Username, Email, Roll No or Staff ID</p>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <input type="text" name="username" class="form-control"
                    placeholder="Username / Email / Roll No / Staff ID" required>
            </div>

            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input type="password" id="loginPass" name="password" class="form-control" placeholder="Password"
                    required>
                <span class="input-group-text" onclick="togglePass('loginPass')" style="cursor:pointer;">
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label text-white">Remember Me</label>
            </div>

            <button type="submit" class="btn btn-login w-100 text-white">
                <i class="fa-solid fa-right-to-bracket me-2"></i>Login
            </button>
        </form>

        <p class="text-center mt-3">
            <a href="{% url 'forgot_password' %}" class="text-white text-decoration-none">
                Forgot Password?
            </a>
        </p>

        <hr class="text-white">

        <p class="text-center mb-0 text-white">
            Don't have an account?
            <a href="{% url 'select_role' %}" class="text-warning text-decoration-none">
                <i class="fa-solid fa-user-plus me-2"></i>Register
            </a>
        </p>

    </div>

</div>

{% endblock %}