{% extends 'base.html' %}

{% block content %}

{% include 'includes/dashboard_navbar.html' %}

<div class="d-flex justify-content-center align-items-center" style="min-height:60vh;">

    <div class="card p-4 shadow" style="max-width:450px;width:100%;">

        <h3 class="text-center mb-3">Set New Password</h3>

        <form method="POST">
            {% csrf_token %}

            {{ form.new_password1 }}
            {{ form.new_password2 }}

            {{ form.errors }}

            <button type="submit" class="btn btn-success w-100 mt-3">
                Update Password
            </button>

        </form>

    </div>

</div>

{% endblock %}