<footer class="footer-custom text-white text-center mt-auto">

    <div class="wave">
        <svg viewBox="0 0 1440 100">
            <path fill="rgba(0,0,0,0.6)"
                d="M0,64L80,53.3C160,43,320,21,480,32C640,43,800,85,960,90.7C1120,96,1280,64,1360,48L1440,32L1440,100L0,100Z">
            </path>
        </svg>
    </div>

    <div class="glass-footer py-4">

        <div class="container">

            <!-- CONTACT -->
            <h6 class="mb-3 fw-bold">Contact Info</h6>

            <p class="footer-item">
                <i class="fa-solid fa-envelope me-2"></i>
                <a href="mailto:kumarharsh09374@gmail.com" style="color:inherit; text-decoration:none;">
                    kumarharsh09374@gmail.com
                </a>
            </p>

            <p class="footer-item">
                <i class="fa-solid fa-phone me-2"></i>
                +91 8114512688
            </p>

            <p class="footer-item">
                <i class="fa-solid fa-location-dot me-2"></i>
                India
            </p>

            <!-- SOCIAL ICONS -->
            <div class="social-icons mt-3">
                <a href="https://www.facebook.com/share/1AbgyM3z3y/" class="social-btn" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="https://instagram.com/arxharsh" class="social-btn" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://www.linkedin.com/in/harsh-kumar-203146339" class="social-btn" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="https://github.com/Harsh-kumar-coder" class="social-btn" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- <small class="d-block mt-3 text-muted " style="color:#ffffff;"> -->
            <!-- © 2026 Library Management System -->
            <!-- </small> -->
            <small class="d-block mt-3 text-white">
                © 2026 Library Management System
            </small>

        </div>

    </div>

</footer>