<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

    <div class="container">

        <a class="navbar-brand fw-bold text-warning" href="{% url 'home' %}">

            📚 Library Management System

        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto align-items-center">

                <!-- HOME -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </li>

                <!-- ABOUT -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">
                        <i class="fa-solid fa-book-open"></i> About
                    </a>
                </li>

                <!-- CONTACT -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">
                        <i class="fa-solid fa-comments"></i> Contact
                    </a>
                </li>

                <!-- DONATE -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'donate' %}">
                        <i class="fa-solid fa-hand-holding-heart"></i> Donate us
                    </a>
                </li>

                <!-- LOGIN -->

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fa fa-sign-in-alt me-1"></i> Login
                    </a>
                </li>

                <!-- REGISTER -->

                <li class="nav-item ms-2">
                    <a class="btn btn-success btn-sm px-3 text-white" href="{% url 'select_role' %}">
                        <i class="fa fa-user-plus me-1"></i> Register
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>